@charset "utf-8";
/* CSS Document */

.efop_left_article {
	width: 100%;
	float: left;
	height: auto;
	padding-bottom: 120px;
}

.cim{
	width: 50%;
	padding-left: 7px;
}


.efop_left_article h1 {
	margin-top: 2%;
	color: #178616;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	width: 100%;
	text-shadow: 2px 2px 5px #888888;
}

.efop_left_article h2 {
	margin-top: 40px;
	font-weight: bold;
	font-size: 22px;
	padding-left: 1%;
	color:#424242
}

.efop_left_article h3 {
	font-style: italic;
	text-align: center;
	color: #717070;
	margin-bottom: 4%;
}

.efop_left_article p {
	padding-right: 1%;
	text-align: justify;
	line-height: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 1%;
	color: #717070;
	font-size: 22px;
}

.efop_left_article ul{
	font-size: 22px;
	color: #717070;
	line-height: 30px;
	padding-left: 10%;
	margin-top: 15px;
}

.efop_left_article a{
	text-decoration: none;
	color: #717070;
	font-weight: bold;
}

.efop_left_article a:hover{
	color: green;
}

.efop_left_article img{
	margin-right: 1%;
}

.kep_left_article{
	width: 50%;
	display: inline;
	padding-left: 20%;
	
}

.kep_left_article img{
	width: 30%;
}

.kep_right_article{
	width: 50%;
	display: inline;
}

.kep_right_article img{
	width: 30%;
}

@media (min-width: 651px) and (max-width: 768px) {
	.efop_left_article {
		width: 100%;
		margin-bottom: 100px;
		height: auto;
	}
	.efop_left_article p{
		padding-right: 2%;
		padding-left: 2%;
	}

	.efop_left_article h1 {
		margin-top: 4%;
		margin-bottom: 2%;
		font-size: 25px;
		width: 100%;
		
	}

	.efop_left_article h2 {
		margin-top: 40px;
		font-weight: bold;
		font-size: 22px;
		padding-left: 1%;
		color:#424242
	}
	
	
	.efop_left_article img{
		margin-right: 1%;
		width: 200px;
	}

}

@media (max-width : 650px ){
	.efop_left_article {
		width: 100%;
		margin-bottom: 100px;
		height: auto;
	}

	.efop_left_article h1 {
		margin-top: 55px;
		font-size: 18px;
		width: 100%;
	}

	.efop_left_article h2 {
		margin-top: 40px;
		font-weight: bold;
		font-size: 17px;
		padding-left: 2%;
		color:#424242
	}
	
	.efop_left_article h3 {
		font-size: 16px
	}
	
	.efop_left_article p {
		font-size: 16px;
		padding-right: 2%;
		padding-left: 2%;
	}
	.efop_left_article img{
		padding-right: 2%;
		padding-top: 2%;
		width: 170px;
	}
	
	.efop_left_article ul{
		font-size: 16px;
	
	}
	
	.kep_left_article{
		width: 100%;
		display: block;
		padding-bottom: 5%;
	}

	.kep_left_article img{
		width: 60%;
		padding-right: 20%;
	}

	.kep_right_article{
		width: 100%;
		display: block;
	}

	.kep_right_article img{
		width: 60%;
		padding-left: 20%;
	}
}

