@charset "utf-8";
/* CSS Document */

.hazirend_left_article {
	width: 100%;
	float: left;
	margin-bottom: 100px;
	height: auto;
}


.hazirend_left_article h1 {
	margin-top: 2%;
	margin-bottom: 2%;
	color: #178616;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	width: 100%;
	text-shadow: 2px 2px 5px #888888;
}

.hazirend_left_article h2 {
	margin-top: 40px;
	font-weight: bold;
	font-size: 22px;
	padding-left: 1%;
	color:#424242
}

.hazirend_left_article h3 {
	font-style: italic;
	padding-left: 1%;
}

.hazirend_left_article p {
	padding-right: 1%;
	text-align: justify;
	line-height: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 1%;
	color: #717070;
	font-size: 22px;
}

.hazirend_left_article table{
	font-size: 22px;
	color: #717070;
	line-height: 30px;
	padding-left: 5%;
	margin-top: 35px;
	width: 100%;
}


.hazirend_left_article a{
	text-decoration: none;
	color: #717070;
	font-weight: bold;
}

.hazirend_left_article a:hover{
	color: green;
}

@media (min-width: 651px) and (max-width: 768px) {
	.hazirend_left_article {
		width: 100%;
		margin-bottom: 100px;
		height: auto;
}


	.hazirend_left_article h1 {
		margin-top: 4%;
		margin-bottom: 2%;
		font-size: 25px;
		width: 100%;
		text-shadow: 2px 2px 5px #888888;
	}

	.hazirend_left_article h2 {
		margin-top: 40px;
		font-weight: bold;
		font-size: 22px;
		padding-left: 2%;
		color:#424242
	}

}

@media (max-width : 650px ){
	.hazirend_left_article {
		width: 100%;
		margin-bottom: 160px;
		height: auto;
}


	.hazirend_left_article h1 {
		margin-top: 35px;
		margin-bottom: 2%;
		font-size: 20px;
		width: 100%;
		text-shadow: 2px 2px 5px #888888;
	}

	.hazirend_left_article h2 {
		margin-top: 40px;
		font-weight: bold;
		font-size: 18px;
		padding-left: 2%;
		color:#424242
	}
	
	.hazirend_left_article h3 {
		font-size: 16px
	}
	
	.hazirend_left_article p {
		font-size: 18px;
	}
	
	.hazirend_left_article table{
		font-size: 12px;
		padding-left: 2%;
		padding-right: 2%;
	}

}
