@charset "utf-8";
/* CSS Document */


.kozbeszerzesek_left_article h1 {	
	margin-top: 2%;
	margin-bottom: 2%;
	color: #178616;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	text-shadow: 2px 2px 5px #888888;
}

.kozbeszerzesek_left_article {
	width: 100%;
	height: auto;
	margin-bottom: 100px;
	
}

.wrap{
	padding-bottom: 100px;
}




ul.kozbeszerzesek_tabs{
	width: 98%;
	background: #363636;
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	box-shadow: 5px 5px 10px #888888;
	margin-left: 1%
}

ul.kozbeszerzesek_tabs li{
	width: 98%;
}

ul.kozbeszerzesek_tabs li a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	display: block;
	padding: 15px 0px;
	text-align: center;
	
}

.kozbeszerzesek_sections{
	width: 98%;
	background: #DDD;
	margin-left: 1%;
	box-shadow: 5px 5px 10px #888888;
}

.kozbeszerzesek_sections article{
	padding: 10px;
	width: 98%;
}

.kozbeszerzesek_sections h2{
	margin-top: 15px;
	margin-bottom: 0px;
	color: #5E5D5E;
	font-size: 25px;
}

.kozbeszerzesek_sections ul{
	list-style-type: none;
}

.kozbeszerzesek_sections ul li{
	padding-top: 1%;
	color: #5E5D5E;
	font-size: 25px;
}

.kozbeszerzesek_sections ul li a{
	text-decoration: none;
	color: #5E5D5E;
}

.kozbeszerzesek_sections ul li a:hover{
	color: green;
	
}
	
@media (min-width: 769px) and (max-width: 1366px) {	
	.kozbeszerzesek_left_article h1 {	
		margin-top: 35px;
		font-size: 25px;
	}
	
	.kozbeszerzesek_sections h2{
		font-size: 22px;
	}
	
	.kozbeszerzesek_sections ul li{
		font-size: 20px;
	}
	
	ul.kozbeszerzesek_tabs li a{
		font-size: 16px;
	}
}

@media (min-width: 651px) and (max-width: 768px) {	
	.kozbeszerzesek_left_article h1 {	
		font-size: 22px;
		margin-top: 35px;
	}
	
	.kozbeszerzesek_sections h2{
		font-size: 20px;
	}
	
	.kozbeszerzesek_sections ul li{
		font-size: 18px;
	}
	
	ul.kozbeszerzesek_tabs li a{
		font-size: 12px;
	}
	
}

@media (max-width : 650px ){
	.kozbeszerzesek_left_article h1 {	
		font-size: 20px;
		margin-top: 35px;
	}
	
	.kozbeszerzesek_sections h2{
		font-size: 18px;
	}
	
	.kozbeszerzesek_sections ul li{
		font-size: 16px;
	}
	
	ul.kozbeszerzesek_tabs li a{
		font-size: 10px;
	}
	
	.kozbeszerzesek_sections ul li img{
		width: 6%;
	}
}

