@charset "utf-8";
/* CSS Document */

section h1{
	margin-top: 2%;
	color: #178616;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	text-shadow: 2px 2px 5px #888888;
}

.palyazatok_right_article{
	margin-right: 6%;
	margin-top: 4%;
	background: #F0F0E1;
	width: 50%;
	height: 100%;
	float: left;

}

.palyazatok_right_article h3 {
	text-align: center;
	line-height: 25px;
	color: #717070;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 5%;
}

.palyazatok_right_article a{
	text-decoration: none;
	color: #717070;
}

.palyazatok_right_article a:hover{
	color: green;
}

.palyazatok_left_article {
	width: 30%;
	margin-top: 4%;
	margin-left: 4%;
	margin-right: 8%;
	padding-bottom: 20%;
	float: left;
	background: #F0F0E1;

}

.zoom {
    transition: transform .2s; /* Animation */
}

.zoom:hover {
    transform: scale(1.5);
}

* {
	box-sizing: border-box
}

/* Style the tab */
.tab {
	float: left;
	height: 300px;
	margin-left: 16%;
}

/* Style the buttons inside the tab */
.tab button {
	display: block;
	background-color: inherit;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.2s;
	font-size: 20px;
	color: #717070;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #eee;
	color: black;
	border-radius: 35px;
}

/* Create an active/current "tab button" class */
.tab button.active {
	color: white;
	font: 500 25px;
	border-radius: 35px;
}

/* Style the tab content */
.tabcontent {
	float: left;
	padding: 0px 12px;
}

.tabcontent p{
	text-align: justify;
	line-height: 25px;
	color: #717070;
	font-size: 23px;
	margin-bottom: 5%;
}

@media (min-width: 769px) and (max-width: 1366px) {
	section h1 {
		margin-top: 35px;
		font-size: 25px;
	}
	
	.tab button {
		font-size: 18px;
	}
	
	.tabcontent p{
		font-size: 20px;
		text-align: justify;
	}
	
	.palyazatok_right_article h3 {
		font-size: 20px;
	}
	
	.palyazatok_left_article{
		margin-bottom: 5%;
	}
}

@media (min-width: 651px) and (max-width: 768px) {
	section h1 {
		margin-top: 35px;
		font-size: 22px;
	}
	
	.tab button {
		font-size: 16px;
		padding: 16px 16px;
	}
	
	
	.tabcontent p{
		font-size: 18px;
		text-align: justify;
	}
	
	.palyazatok_right_article h3 {
		font-size: 20px;
	}
	
}

@media (max-width : 650px ){
	section h1 {
		font-size: 20px;
		margin-top: 35px;
	}
	
	.tab button {
		font-size: 15px;
		padding: 16px 16px;
	}
	
	.tabcontent p{
		font-size: 18px;
		text-align: justify;
	}
	
	.palyazatok_right_article{
		margin-right: 1%;
	}
	
	.palyazatok_left_article {
		margin-bottom: 200%;
		margin-left: 1%;
	}
	
		
	.palyazatok_right_article h3 {
		font-size: 18px;
	}
	
	.tabcontent p{
		font-size: 14px;
		text-align: justify;
	}
	
}


