@charset "utf-8";
/* CSS Document */

.cim{
	margin-top: 2%;
	color: #178616;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	text-shadow: 2px 2px 5px #888888;
}

.palyazatok_right_article{
	margin-bottom: 200px;
	margin-right: 5%;
	margin-top: 4%;
	background: #F0F0E1;
	width: 40%;
	height: 100%;
	float: left;
	border: 1px solid #ddd;
}


.palyazatok_left_article {
	width: 40%;
	margin-top: 4%;
	margin-left: 6%;
	margin-right: 8%;
	margin-bottom: 200px;
	float: left;
	background: #F0F0E1;
	height: auto;
	border: 1px solid #ddd;
}

.zoom {
    transition: transform .2s; /* Animation */
}

.zoom:hover {
    transform: scale(1.5);
}

* {
	box-sizing: border-box
}

/* Style the tab */
.tab {
	float: left;
	height: 300px;
	margin-left: 16%;
}

/* Style the buttons inside the tab */
.tab button {
	display: block;
	background-color: inherit;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.2s;
	font-size: 20px;
	color: #717070;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #eee;
	color: black;
	border-radius: 35px;
}

/* Create an active/current "tab button" class */
.tab button.active {
	color: white;
	font: 500 25px;
	border-radius: 35px;
}

/* Style the tab content */
.tabcontent {
	float: left;
	padding: 0px 12px;
}

.tabcontent p{
	text-align: justify;
	line-height: 25px;
	color: #717070;
	font-size: 25px;
}


@media (max-width : 650px ){
	
	.palyazatok_left_article {
		width: 100%;
		height: auto;
		margin-bottom: 150px;
	
	}
	
	
	.palyazatok_left_article h1{
		font-size: 18px;
		margin-top: 2%;
	}
	
	
	}
	
	.cim {
		font-size: 20px;
		margin-top: 35px;
	}
}



@media (min-width: 651px) and (max-width: 768px) {
	
	.palyazatok_left_article h1{
		font-size: 20px;
		margin-top: 2%;
	}
	
	
	.palyazatok_left_article {
		width: 100%;
		height: auto;
		margin-bottom: 100px;
	}
	
	
	.cim {
		font-size: 22px;
		margin-top: 25px;
	}
}

@media (min-width: 769px) and (max-width: 1366px) {
	.palyazatok_left_article {
		width: 100%;
		height: auto;
		margin-bottom: 100px;
	}
}