@charset "utf-8";
/* CSS Document */

.rehab h1{
	margin-top: 2%;
	margin-bottom: 2%;
	color: #178616;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	text-shadow: 2px 2px 5px #888888;
}


.rehab_right_article{
	margin-bottom: 150px;
	margin-right: 5%;
	background: #F0F0E1;
	height: auto;
	width: 40%;
	float: left;
}


.rehab_left_article {
	width: 40%;
	margin-left: 6%;
	margin-right: 8%;
	float: left;
	background: #F0F0E1;
	height: auto;
}

.rehab_left_article p {
	text-align: justify;
	line-height: 25px;
	color: #717070;
	font-size: 25px;
	padding-right: 2%;
	padding-left: 2%;
}

.rehab_left_article ul{
	padding: 5px;
	list-style-type: none;
}

.rehab_left_article ul li{
	color: #717070;
	text-align: center;
	font-size: 25px;
	width: 100%;

}

.rehab_left_article a{
	color: #717070;
	text-decoration: none;
}

.rehab_left_article h3 {
	text-align: center;
	line-height: 25px;
	color: #717070;
	font-size: 25px;
	font-weight: bold;
}

.rehab_left_article a:hover{
	color: green;
}

@media (min-width: 769px) and (max-width: 1366px) {
	.rehab h1 {
		margin-top: 35px;
		font-size: 25px;
	}
	.rehab_right_article {
		width: 40%;
		float: left;
		margin-right: 5%;
		padding-top: 2%;
		
	}
	
	.rehab_left_article {
		width: 40%;
		margin-top: 3%;
		margin-left: 6%;
		margin-right: 8%;
		margin-bottom: 10%;
	}
	
	.rehab_left_article ul li{
		text-align: center;
		font-size: 20px;
		
	}
	
	.rehab_info ul li{
		padding-top: 1%;
		color: #717070;
		text-align: left;
		font-size: 20px;
		padding-left: 40px;

	}
	
	.rehab_left_article h3 {
		font-size: 20px;
	}
	
}

@media (min-width: 651px) and (max-width: 768px) {
	.rehab h1 {
		margin-top: 35px;
		font-size: 22px;
	}
	
	.rehab_right_article {
		width: 80%;
		height: auto;
		padding-left: 10%;
		padding-right: 10%;
	}
	
	.rehab_left_article {
		width: 90%;
		height: auto;
	}
	
	.rehab_left_article h3 {
		text-align: center;
		
	}
	
	.rehab ul li{
		text-align: center;
		font-size: 20px
	}
}

@media (max-width : 650px ){
	.rehab h1 {
		font-size: 20px;
		margin-top: 35px;
	}
	
	.rehab_right_article {
		width: 84%;
		height: auto;
		padding-left: 8%;
		padding-right: 8%;
		margin-bottom: 200px;
	}
	
	.rehab_left_article {
		width: 90%;
	}
	
	.rehab_left_article h3 {
		text-align: center;
		font-size: 18px;
	}
	
	.rehab_left_article p {
		font-size: 18px;
		text-align: justify;
	}
	
	.rehab_left_article ul li{
		text-align: center;
		font-size: 18px;
	}
}




