@charset "utf-8";
/* CSS Document */

.szolgaltatohaz h1{
	margin-top: 2%;
	margin-bottom: 2%;
	color: #178616;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	text-shadow: 2px 2px 5px #888888;
}


.szolgaltatohaz_right_article{
	margin-bottom: 150px;
	margin-right: 5%;
	background: #F0F0E1;
	height: auto;
	width: 40%;
	float: left;
}


.szolgaltatohaz_left_article {
	width: 40%;
	margin-left: 6%;
	margin-right: 8%;
	margin-top: 2%;
	float: left;
	background: #F0F0E1;
	height: auto;
}

.szolgaltatohaz_left_article p {
	text-align: justify;
	line-height: 25px;
	color: #717070;
	font-size: 25px;
	padding-right: 2%;
	padding-left: 2%;
}

.szolgaltatohaz_left_article ul{
	padding: 10px;
	list-style-type: none;
}

.szolgaltatohaz_left_article ul li{
	color: #717070;
	text-align: center;
	font-size: 25px;
	width: 100%;
	padding-bottom: 1%
}


.szolgaltatohaz_left_article h3 {
	text-align: center;
	line-height: 25px;
	color: #717070;
	font-size: 25px;
	font-weight: bold;
	padding-top: 2%
}

table{

	font-size: 25px;
	
	
}

table, th, td {
	color: #717070;
	
}
th, td {
  	padding: 5px;
  	text-align: left;
	font-weight: normal;
}

 table.center {
    margin-left:auto; 
    margin-right:auto;
  }


@media (min-width: 769px) and (max-width: 1366px) {
	.szolgaltatohaz h1 {
		margin-top: 35px;
		font-size: 25px;
	}
	
	.szolgaltatohaz_right_article {
		width: 40%;
		float: left;
		margin-right: 5%;
		padding-top: 2%;
	}
	
	.szolgaltatohaz_left_article {
		width: 40%;
		margin-top: 3%;
		margin-left: 6%;
		margin-right: 8%;
	}
	
	.szolgaltatohaz_left_article ul li{
		text-align: center;
		font-size: 20px;
	}
	
	.szolgaltatohaz_left_article h3 {
		font-size: 20px;
	}
	
	table{
		font-size: 20px;
	}
}

@media (min-width: 651px) and (max-width: 768px) {
	.szolgaltatohaz h1 {
		margin-top: 35px;
		font-size: 22px;
	}
	
	.szolgaltatohaz_left_article {
		width: 90%;
		height: auto;
	}
	
	.szolgaltatohaz_right_article {
		width: 80%;
		height: auto;
		padding-left: 10%;
		padding-right: 10%;
		
	}
	
	.szolgaltatohaz_left_article h3 {
		text-align: center;
	}
	
	.szolgaltatohaz ul li{
		text-align: center;
		font-size: 20px
	}
	
	table{
		font-size: 20px;
	}
}

@media (max-width : 650px ){
	.szolgaltatohaz h1 {
		font-size: 20px;
		margin-top: 35px;
	}
	
	.szolgaltatohaz_left_article {
		width: 90%;
	}
	
	.szolgaltatohaz_right_article {
		width: 84%;
		height: auto;
		padding-left: 8%;
		padding-right: 8%;
		margin-bottom: 220px;
	}
	
	
	.szolgaltatohaz_left_article h3 {
		text-align: center;
		font-size: 18px;
	}
	
	.szolgaltatohaz_left_article ul li{
		text-align: center;
		font-size: 18px;
	}
	
	table{
		font-size: 18px;
	}
}
